.profileContainer {
    text-align: center;
}

.profile {
    border: #00000000;
    background-color: #00000000;
    background-image: linear-gradient(147deg, #000000 0%, #313131 74%);
}

.profilePic {
    box-shadow: rgba(204, 204, 204, 0.4) 0px 0px 0px 2px, rgba(175, 175, 175, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.856) 0px 1px 0px inset;
    width: 250px;
}

.profileBio {
    margin-top: 15px;
    font-family: accent;
}