.profileContainer {
    text-align: center;
}

.profile {
    border: #00000000;
    background-color: #00000000;
}

.profilePic {
    box-shadow: rgba(0, 0, 0, 0.952) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 250px;
}

.profileLinks {
    margin-top: 25px;
    font-family: accent;
    align-items: center;
}

.profileBio {
    margin-top: 25px;
    font-family: accent;
}

.octocatIcon, .linkedInIcon {
    width: 50px;
}

.octocatIcon:hover, .linkedInIcon:hover {
    width: 70px;
}