.readme {
    position: absolute;
    z-index: 4;
    overflow-y: auto;
    height: 75vh;
    width: 90vw;
    max-height: 1080px;
    max-width: 1080px;
    border-radius: 4px;
    font-family: accent;
    color: black;
    background-color: rgb(255, 255, 255);
    
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .readme {
        position: fixed;
        height: 70vh;
        width: 60vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}