.timeline {
    display: flex;
    overflow-x: scroll;
    height: 50vh;
    max-height: 1280px;
    width: 65vw;
    max-width: 1980px;
    color: rgb(0, 0, 0);
    background-color: rgba(240, 248, 255, 0);
}