.projectCard {
    min-width: 350px;
    max-width: 500px;
    height: 100%;
    background-color: #3d485300;
    background-image: linear-gradient(315deg, #3d485394 0%, #1d242c8f 74%);
    color: rgb(224, 224, 224);
}

.projectImage {
    min-height: 200px;
    max-height: 200px;
}

.projectDates {
    font-size: medium;
    font-family: accent;
    color: rgb(255, 255, 255);
}