/* ___________________ FONTS ____________________________ */

@font-face {
    font-family: header;
    src: url('./fonts/Raleway/Raleway-Bold.ttf');
}
  
@font-face {
    font-family: accent;
    src: url('./fonts/Raleway/Raleway-Medium.ttf');
}
    
@font-face {
    font-family: accent-light;
    src: url('./fonts/Raleway/Raleway-Thin.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-image: url('./images/bg4.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: header;
    color: rgb(226, 226, 226);
}

.overlay {
    background-color: #28313b9a;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.content {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap
}

.clickAwayArea {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(37, 37, 37, 0.493);
    filter: blur(8px);
    -webkit-filter: blur(8px); */
}

.timelineSpinner {
    display: block;
    height: 40rem;
    width: 40rem;
    margin-right: auto;
    margin-left: auto;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}