/* ___________________ FONTS ____________________________ */

@font-face {
    font-family: header;
    src: url('./fonts/Raleway/Raleway-Bold.ttf');
}
  
@font-face {
    font-family: accent;
    src: url('./fonts/Raleway/Raleway-Medium.ttf');
}
    
@font-face {
    font-family: accent-light;
    src: url('./fonts/Raleway/Raleway-Thin.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-image: url('./images/bg4.jpg');
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    font-family: header;
    color: rgb(226, 226, 226);
}

.overlay {
    background-color: #28313b9a;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.content {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap
}
