.profileCard {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    height: 65vh;
}

.profileContainer {
    text-align: center;
}

.timelineContainer {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.profilePic {
    width: 250px;
}

.bio {
    font-family: accent;
}